<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    <title><%= title%></title>
    <style>
        #registerForm {
            background-color: rgb(205, 236, 236);
            margin-left: 50%;
            margin-right: 10%;
            height: 500px;

        }

        body {
            background-attachment: fixed;
            background-color: black;
        }
        .error{
            background-color: rgb(202, 151, 151);
            color : red;
        }
    </style>
    <script>
        $(document).ready(function(){
            $('.btn-primary').click(function(e){
                e.preventDefault();
                let email = $('#email').val();
                let password = $('#password').val();
                $.ajax({
                    type : 'POST',
                    url : "/api/user/login",
                    dataType : 'json',
                    data : {
                        email : email,
                        password : password
                    },
                    success : function(data){
                        let token = data.token;
                        localStorage.setItem('token', token);
                         console.log(token);
                        console.log(localStorage.getItem('token'));
                    }
                })
            })
        })
    </script>
</head>

<body>
    <div class="container">
        <div id="registerForm">
            <form action="/api/user/login" method="POST">               
                <div class="form-group">
                    <% for(var i=0;i<errors.length;i++) { %>
                        <div class="error"><span><%= errors[i].msg%></span></div>
                    <% } %>            
                  <label for="email">Email</label>
                  <input type="email" class="form-control" name="email" id="email" aria-describedby="emailHelpId" placeholder="example@gmail.com">                
                </div>
                <div class="form-group">
                  <label for="password">Password</label>
                  <input type="password" class="form-control" name="password" id="password" placeholder="">
                </div>              
                <button type="submit" class="btn btn-primary">Sign in</button>               
            </form>
            
        </div>
    </div>
</body>
</html>